.year-select, .month-select {
    width: 5%;
    height: 40px;
    font-size: 150%;
}

.calendar-table {
    text-align: center;
    margin: 10px auto;
    /* border-radius: 15px; */
    background-color: white;
    border-collapse: collapse;

    padding: 5px;
    border: solid 1px;
    width: 95%;
    height: 774px;
    table-layout: fixed;
}


.schedule-box-container {
    display: flex;
}

#calendar-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px; /* 要素間のスペースを指定 */
    margin-bottom: 10px;
}

#prev-month, #next-month {
    padding: 5px 10px;
    font-size: 24px;
    background-color: rgb(241, 241, 241);
    border: none;
    cursor: pointer;
}

#title {
    text-align: left;
    margin-left: 10px;
}


.schedule-child {
    border: 1px solid rgb(0, 0, 0);
    margin: 10px auto;
    background-color: rgba(216, 208, 208, 0.418);
}


.event-box {
    padding: 10px;
    margin-bottom: 10px;
}

.Youtube {
    background-color: rgba(255, 0, 0, 0.5);
}

.Twitch {
    background-color: rgba(143, 67, 255, 0.5);
}

.openrec {
    background-color: orange;
}

.otherSite {
    background-color: green;
}

.schedule-box {
    color: rgb(0, 0, 0);
    margin-bottom: 2%;
    margin-right: 2%;
    border-radius: 5px;
    /* はみ出たら折り返す */
    word-break: nowrap;
    /* セル内のコンテンツの高さをに制限 */
    height: auto;
    /* 横幅は100%に制限 */
    width: 98%;


    /* コンテンツが縦に長くなった場合には、スクロールバーを表示 */
    overflow: auto;
    /* スクロールバーを非表示 (IE, Edge) */
    -ms-overflow-style: none;
    /* スクロールバーを非表示 (Firefox) */
    scrollbar-width: none;
}

/* スクロールバーを非表示(Chrome, Safari) */
.schedule-box::-webkit-scrollbar {
    display: none;
}

.schedule-info {
    /* 左揃え */
    text-align: left;
    /* 端から3px間を開ける */
    padding: 0 3px;
}

th, td {
    flex: 1;
    width: 14%;
    font-size: 100%;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
    border: 1px solid #7070707e;
}

.week-5 {
    height: 150px;
}

.week-6 {
    height: 125px;
}

th {
    height: 24px;
}


body {
    text-align: center;
    width: auto;
}

html {
    background-color: rgb(255, 255, 255);
}