.year-select, .month-select {
    width: 5%;
    height: 40px;
    font-size: 150%;
}

.calendar-table {
    text-align: center;
    margin: 10px auto;
    /* border-radius: 15px; */
    background-color: white;
    border-collapse: collapse;

    padding: 5px;
    border: solid 1px;
    width: 95%;
    height: 800px;
}


.schedule-box-container {
    display: flex;
}

#calendar-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px; /* 要素間のスペースを指定 */
    margin-bottom: 10px;
}

#prev-month, #next-month {
    padding: 5px 10px;
    font-size: 24px;
    background-color: rgb(241, 241, 241);
    border: none;
    cursor: pointer;
}

#title {
    text-align: left;
    margin-left: 10px;
}


.schedule-child {
    border: 1px solid rgb(0, 0, 0);
    margin: 10px auto;
    background-color: rgba(216, 208, 208, 0.418);
}


th, td {
    width: 14%;
    height: auto;
    font-size: 100%;
    vertical-align: top;
    border: 1px solid #7070707e;
}

th {
    height: 4%;
}


body {
    text-align: center;
    width: auto;
}

html {
    background-color: rgb(255, 255, 255);
}